<style>
.body{font-size:14px;}
.important{font-weight:bold;}
.red{color:red;}
</style>
<div class="body">
	<p>${sendTo}：</p>
	<p>
	Your AD(${number})will not be online at ${date} because of no related contract/PO.
	</p>
	<p>
	Please indicate contract/PO, or apply for AD ahead and get the approval as soon as possible, otherwise the system will release the schedule since the AD is expired.
	</p>
	AD content details please click here (${url})
	</br>
	</br>
	This is a system email, please don’t reply.
</div>