.fb {_width: 100%;overflow: hidden;clear: both; }
.c10l, .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l, .c90l { float:left; }
.c10r, .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r, .c90r { float:right; margin-left:-5px; }

.c10l, .c10r { width:10%; }
.c20l, .c20r { width:20%; }
.c40l, .c40r { width:40%; }
.c60l, .c60r { width:60%; }
.c80l, .c80r { width:80%; }
.c90l, .c90r { width:90%; }
.c25l, .c25r { width:25%; }
.c33l, .c33r { width:33.333%; }
.c50l, .c50r { width:50%; }
.c66l, .c66r { width:66.666%; }
.c75l, .c75r { width:75%; }
.c38l, .c38r { width:38.2%; }
.c62l, .c62r { width:61.8%; }

/* border */
.bd{border:1px solid #e8e8e8; }
.bdr {border-right: 1px solid #e8e8e8;}
.bdl {border-left: 1px solid #e8e8e8;}
.bdlr{border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8;}
.bdt{border-top: 1px solid #e8e8e8;}
.bdb {border-bottom: 1px solid #e8e8e8;}
.bdtb{border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;}

/* text-align */
.ta-r{text-align:right;}
.ta-l{text-align:left;}
.ta-c{text-align:center;}

/*float*/
.fl{float:left}
.fr{float:right}
/* padding */
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.ptb10{padding:10px 0px;}
.plr10{padding:0px 10px;}

.p20{padding:20px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.ptb20{padding:20px 0px;}
.plr20{padding:0px 20px;}

/* margin */
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mtb10{margin:10px 0px;}
.mlr10{margin:0px 10px;}

/* margin */
.m20{margin:20px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.mtb20{margin:20px 0px;}
.mlr20{margin:0px 20px;}
.bar {
    height: 18px;
    background: green;
}

#J_agentQualificationContainer td{
	max-width: 100px;
}

#J_agentQualificationContainer div.col-md-3,#J_agentQualificationContainer td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.td-center, .th-center {
    text-align: center;
}

.place-holder-label {
    position: absolute;
    top: 9px;
    font-size: 12px;
    left: 7px;
    color: #999;
    font-weight: normal;
}

.ngAlert,
.ngConfirm,
.successModal{
    text-align: center;
}
.ngAlert .modal-content,
.ngConfirm .modal-content
{
    min-width: 270px;
    display: inline-block;
    width: auto;
    max-width: 50%;
}
.ngAlert .modal-header,
.ngConfirm .modal-header{
    text-align:left;
}
.ngAlert .modal-body,
.ngConfirm .modal-body{
    text-align:right;
    padding:10px 20px 10px;
}
.ngAlert .modal-body button,
.ngConfirm .modal-body button{
    margin-left: 5px;
}

.successModal .modal-content
{
    display: inline-block;
}
.successModal .alert-success{
    min-width:200px;
    display:inline-block;
    width:auto;
    margin:0;
    max-width: 50%;
}
.glyphicon-cog{
    top:2px;
}

/*scheduleList CSS*/
#scheduleSearch input,
#scheduleSearch div,
#scheduleSearch label,
#scheduleSearch button,
#scheduleSearch a{
    font-size: 12px;
}
#scheduleSearch input[type="text"]{
    width : 136px;
    margin-left: 4px;
}
#scheduleSearch input[type="button"]{
    width : 66px;
    text-align: left;
}
#scheduleSearch > div{
    margin-right: 5px;
}
#scheduleSearch .btn-group input,
#scheduleSearch .btn-group button,
#scheduleSearch button{
    height: 34px;
}

.select2-container a.select2-choice {
    background-color: #fff;
}
.scheduleListContainer .panel-body,
.scheduleListContainer .well,
.scheduleListContainer .page-header,
.scheduleListContainer table,
.pageRow .pagination,
.scheduleListContainer .margin0{
    margin:0;
}
.scheduleListContainer .well{
    background-color:#f8f8f8;
}
.pageRow {
    margin:20px 0;
}
.scheduleListContainer .marginLeft3{
    margin-left:3px;
}
.scheduleListContainer .minWidth150{
    min-width:150px;
}
.scheduleListContainer .timeCuttingLine{
    line-height: 30px;
    padding:0 3px 0 7px;
}

/*scheduleDetail CSS*/
.noRadius{
    border-radius: 0px;
}
.scheduleDetailContainer .schedulePanelBody{
    padding:10px 13px;
}
.scheduleDetailContainer  .headerRow{
    font-size:12px;
}
.scheduleDetailContainer  .headerRow h3{
    margin:0;
    line-height:34px;
}
.scheduleDetailContainer  .headerRow .well,
.scheduleDetailContainer .page-header{
    margin:0;
    padding:0;
}
.scheduleDetailContainer  .headerRow .well .ng-binding{
    padding:9px 21px;
}


.panel ,
.breadcrumb{
    margin-bottom:10px;
}