/*publicationMgmt*/
.publication-mgmt .row .pl0 { margin-left: -1px; }
.publication-mgmt .select-code-type { border-top-right-radius: 0; border-bottom-right-radius: 0;}
.publication-mgmt .input-code-type { border-top-left-radius: 0; border-bottom-left-radius: 0;}

.publication-mgmt .panel-tab { padding-bottom: 0 }
.publication-mgmt .panel-tab .table-publication { margin-bottom: -1px; }
.publication-mgmt .panel-table-body .table-publication { padding-top: 0; border-top: none;}
.publication-mgmt .panel-table-body { padding-top: 0 }
.publication-mgmt .tabset-todo { padding-bottom: 20px; }
.publication-mgmt .tabset-todo .nav-tabs { padding-top: 0; }
.publication-mgmt .tabset-todo .tab-content .tab-pane { padding-top: 10px; }
.publication-mgmt .nav .tab > a > div { font-family: "微软雅黑"; }
.publication-mgmt .nav .tab > a { padding: 10px; color: #ccc; }
.publication-mgmt .nav .tab > a:hover { border-color: #eee; }
.publication-mgmt .nav .tab.active > a { color: #428bca;}
.publication-mgmt .nav .tab.active > a:hover { color: #428bca; border-bottom-color: #fff;}
.publication-mgmt .nav .tab.active > a .tab-total { color: #843534; font-weight: 700; }
.publication-mgmt .nav .tab-todo > a > div { padding: 0 10px 0 10px; border-left: 3px solid #d9534f; }
.publication-mgmt .nav .tab.tomorrow > a > div { border-left: 3px solid #f0ad4e; }
.publication-mgmt .nav .tab.afterTomorrow > a > div { border-left: 3px solid #ddd; }
.publication-mgmt .nav .tab > a > div > h4 { margin-top: 0; margin-bottom: 5px; }
.publication-mgmt .nav .tab > a > div > h4 > span { font-weight: 700; }
.publication-mgmt .nav .tab > a > div > p { color: #bbb; margin-bottom: 0; }
.publication-mgmt .nav .tab-done { /*bottom: -15px;*/ width: 125px; }
.publication-mgmt .nav .tab-done > a { padding-top:15px; padding-bottom: 8px;}
.publication-mgmt .nav .tab-done > a > div > p { font-size: 12px; font-family: "微软雅黑"; color: #a94442; text-align: right; padding-right: 3px;}
.publication-mgmt .nav .tab-done .circle-ok { float: left; width: 22px; height: 20px; background: url("../images/circle-ok-fuzzy.png");}
.publication-mgmt .nav .tab-done.active .circle-ok { background: url("../images/circle-ok.png"); }
.publication-mgmt .tab-pane .dl-horizontal { margin-top: 10px; margin-bottom: 0; }
.publication-mgmt .tab-pane .dl-horizontal .nav-pills > li { margin-left: 2px; margin-bottom: 4px; }
.publication-mgmt .tab-pane .dl-horizontal .nav-pills > li > a { padding: 0 10px; }
.publication-mgmt .tab-pane .dl-horizontal .nav-pills > li > a .text-danger { font-weight: 700; }
.publication-mgmt .tab-pane .dl-horizontal dt { width: 80px; }
.publication-mgmt .tab-pane .dl-horizontal dd { margin-left: 90px;}
.publication-mgmt .table-publication .dl-horizontal dd { text-overflow: ellipsis; max-width: 700px; overflow: hidden; }
.publication-mgmt .tab-pane .dl-horizontal dt,
.publication-mgmt .tab-pane .dl-horizontal dd { line-height: 21px; font-size: 12px;}
.publication-mgmt .tab-pane .dl-horizontal dd .checkbox-inline { margin-left: 10px;}
.publication-mgmt .tab-pane .dl-horizontal dd input[type="checkbox"] { margin-top: 5px; }
.publication-mgmt .tab-pane .alert-info { margin-bottom: 0; }
.publication-mgmt .table-publication-wrap.border-top { border-top: 1px #ddd dashed; padding-top: 15px;}
.publication-mgmt .table-publication thead tr th { color: #aaa; }
.publication-mgmt .table-publication h6 { font-weight: 700; font-family: "微软雅黑";}
.publication-mgmt .table-publication h6 .head { width: 95px; display: inline-block; text-align: right; margin-right: 5px; }
.publication-mgmt .table-publication h6 .lable { font-size: 11px; font-weight: normal; font-family: "Calibri"; }
.publication-mgmt .table-publication tbody td { vertical-align: middle; }
.publication-mgmt .table-publication tbody .tr-sub-table > td { border-top: 1px #ddd dashed; padding-bottom: 20px; }
.publication-mgmt .table-publication tbody .tr-sub-table .label-success { padding: .1em .6em .2em; }
.publication-mgmt .table-publication .dl-horizontal dt,
.publication-mgmt .table-publication .dl-horizontal dd { line-height: 28px; }
.publication-mgmt .table-publication .dl-horizontal dt { width: 150px; }
.publication-mgmt .table-publication .dl-horizontal dd { margin-left: 165px; }
.publication-mgmt .table-publication .td-operation { width: 200px;}
.publication-mgmt .table-publication .tr-period td { border-top: 1px #ddd dashed; }
.publication-mgmt .table-publication .btn-link,
.publication-mgmt .table-period .btn-link { font-family: inherit; padding-left: 0; padding-right: 0; }
.publication-mgmt .table-publication .btn-link[disabled] { opacity: 1; color: #ccc; }
.publication-mgmt .table-period .td-operation { width: 160px;}
.publication-mgmt .table-period-wrap { padding-left: 105px; padding-right: 30px; }
.en-US .publication-mgmt .table-period-wrap { padding-left: 70px; padding-right: 30px; }
.publication-mgmt .table-period th { color: #aaa; font-weight: normal;}
.publication-mgmt .tab-pane .panel-collapse .table-publication > tbody > tr.active > td { background-color: #f9f9f9;}
.publication-mgmt .tab-pane .panel-group { margin-top: 10px; }
.publication-mgmt .tab-pane .panel-group .panel { border: none; box-shadow: none; }
.publication-mgmt .tab-pane .panel-group .panel-heading { padding: 0 15px; border-radius: 4px;}
.publication-mgmt .tab-pane .panel-group .panel .panel-body { border-top: none;}
.publication-mgmt .tab-pane .panel-group .panel-title { line-height: 37px; font-family: "微软雅黑"; }
.publication-mgmt .tab-pane .panel-group .panel-title > a { display: block; color: #428bca; text-decoration: none; }
.publication-mgmt .tab-pane .panel-group .panel-title > a:hover { color: #2a6496; text-decoration: underline; }
.publication-mgmt a .glyphicon:empty { width: 1.2em; }
.fwn { font-weight: normal;}
.fwn a .glyphicon { top:2px; }

.force-publish-modal .cert-input { margin-top: 15px; }
.publication-mgmt .has-feedback { position: relative; margin-bottom: 10px; }
.publication-mgmt .has-feedback .form-control { padding-right: 30px; }
.publication-mgmt .search-box .form-control { padding: 5px; }
.publication-mgmt .has-feedback .form-control-feedback { position: absolute; top: 0; right: 0; display: block; width: 34px; height: 34px; line-height: 34px; text-align: center; }
/*publicationMgmt END*/

/*publicationMember*/
.publication-member .nav-tabs { padding-top: 5px; }
.publication-member .table-member tbody td { vertical-align: middle; }
.publication-member .table-member .label { font-size: 90%; margin-right: 5px; padding: .4em .6em .5em 1em; }
.publication-member .table-member .label .btn-remove { padding-right: 0; padding-top: 3px; padding-bottom: 5px; }
/*publicationMember END*/

