<div class="content-site-info">
  <h5 class="bdt">
    {{'AD_CONTENT_ADDERSS' | translate}}
  </h5>
  <div class="form-group">
    <label class="control-label col-md-2">
      {{'AD_CONTENT_PRODUCT_PLATFORMS' | translate}}：
    </label>
    <div class="col-md-3">
      <p class="form-control-static">
        {{ad.adSolutionContent.productName}}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">
      {{'AD_CONTENT_PRODUCT_SITE' | translate}}：
    </label>
    <div class="col-md-3">
      <p class="form-control-static">
        {{ad.adSolutionContent.siteName}}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">
      {{'AD_CONTENT_PRODUCT_ADRRESS' | translate}}：
    </label>
    <div class="col-md-5">
      <p class="form-control-static">
        {{ad.adSolutionContent.channelName}}-{{ad.adSolutionContent.areaName}}-{{ad.adSolutionContent.positionName}}
      </p>
    </div>
  </div>
</div>