.scope-ad{}

.tableDrop .select2-results{}
.tableDrop .headDrop{font-weight: bold;}
.tableDrop .headDrop span,
.tableDrop .bodyDrop span{display: inline-block;margin-right: 20px;vertical-align: middle;}
.tableDrop .headDrop span.dropCol1,
.tableDrop .bodyDrop span.dropCol1{width: 120px;}
.tableDrop .headDrop span.dropCol2,
.tableDrop .bodyDrop span.dropCol2{width: 80px;}
.tableDrop .headDrop span.dropCol3,
.tableDrop .bodyDrop span.dropCol3{width: 260px;}

/*input.ng-invalid.ng-dirty {
      background-color: #FA787E;
    }

    input.ng-valid.ng-dirty {
      background-color: #78FA89;
    }*/

/*.select2-container{margin-top: 4px;}*/
.scope-ad .select2-container .select2-choice{background: none;filter:none;height: 34px;padding-top: 3px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;border-color: #ccc;}

.scope-ad .select2-container-active .select2-choice, .select2-container-active .select2-choices {
border: 1px solid #5897fb;}

.scope-ad .select2-container .select2-choice .select2-arrow{display: none;}


/*.yt-calendar */
/*.yt-calendar .gray-darker{background-color: #222}
.yt-calendar .gray-dark{background-color: #333}
.yt-calendar .gray{background-color: #555}
.yt-calendar .gray-light{background-color: #999}
.yt-calendar .gray-lighter{background-color: #eee}
.yt-calendar .brand-primary{background-color: #428bca}
.yt-calendar .brand-success{background-color: #5cb85c}
.yt-calendar .brand-info{background-color: #5bc0de}
.yt-calendar .brand-warning{background-color: #f0ad4e}
.yt-calendar .brand-danger{background-color: #d9534f}*/


.panel-form .form-datepicker {width: 136px;float: left;
margin-left: 4px;}

.panel-form button{font-size: 12px;/*height: 34px;*/}
.panel-form label{
color: rgb(0, 0, 0);
display: inline-block;
font-size: 12px;
line-height: 22px;
margin-bottom: 0px;
opacity: 0.65;
padding: 6px 0;
text-align: center;
vertical-align: middle;
white-space: nowrap;
font-weight: normal;
}