.home .panel-default .panel-heading { background-color: #fff; border-bottom: none; }
.home .nav-tabs { padding-top: 0; }
.home .tab-content { padding: 15px; }
.home .nav-pills > li > a { padding: 5px 10px; }
.home .platform-detail > tbody { border-bottom: 2px solid #ddd; }
.home .table-module-count tbody tr th { text-align: right; width: 140px; }
.home .table-module-count tbody tr td span { display: inline-block; width:130px; }
.home .table-module-count tbody .tr-first td,
.home .table-module-count tbody .tr-first th { border-top: none; }
.home .collapse div ,
.home .collapsing div,
.home .collapse div a,
.home .collapsing div a { font-size: 14px; }